.character {
    border: 5px solid black;
    display: flex;
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
}

img {
    padding-right: 15px;
    padding-left: 15px;
}

.number {
    padding-left: 15px;
}

.title {
    text-align: center;
}